---

---

<div
  class="flex h-64 w-full flex-col items-center rounded-xl border-4 border-semantic-on-surface-variant text-semantic-on-surface-variant md:h-[30rem] lg:h-[40rem]"
>
  <iframe
    class="h-full w-full"
    src="https://www.youtube.com/embed/iUGv1yV3Jzo"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</div>

<style>
  .carousel-background-gradient {
    position: relative;
  }
  .carousel-background-gradient:before {
    content: "";
    z-index: -9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--linear-gradient-y);
    filter: blur(1px);
    opacity: 0.25;
    transition: opacity 0.3s;
    border-radius: inherit;
  }
  .carousel-background-gradient::after {
    content: "";
    z-index: -9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: inherit;
    background: inherit;
    border-radius: inherit;
  }
</style>
